

$light:white;
$dark:black;

// Primary
$p-1:#03a9f4;
$p-2:#f75e2e;
$p-3:#ecfa4d;
$p-4:#656a70;

// Lighten-1
$l1-1:mix($light,$p-1,40%);
$l1-2:mix($light,$p-2,40%);
$l1-3:mix($light,$p-3,40%);
$l1-4:mix($light,$p-4,40%);

// Lighten-2
$l2-1:mix($light,$p-1,75%);
$l2-2:mix($light,$p-2,75%);
$l2-3:mix($light,$p-3,75%);
$l2-4:mix($light,$p-4,75%);

// Lighten-3
$l3-1:mix($light,$p-1,90%);
$l3-2:mix($light,$p-2,90%);
$l3-3:mix($light,$p-3,90%);
$l3-4:mix($light,$p-4,90%);


// Darken-1
$d1-1:mix($dark,$p-1,20%);
$d1-2:mix($dark,$p-2,20%);
$d1-3:mix($dark,$p-3,20%);
$d1-4:mix($dark,$p-4,20%);

// Darken-2
$d2-1:mix($dark,$p-1,50%);
$d2-2:mix($dark,$p-2,50%);
$d2-3:mix($dark,$p-3,50%);
$d2-4:mix($dark,$p-4,50%);

// Darken-3
$d3-1:mix($dark,$p-1,70%);
$d3-2:mix($dark,$p-2,70%);
$d3-3:mix($dark,$p-3,70%);
$d3-4:mix($dark,$p-4,70%);



.colors{
	width: 70px;
	height: 70px;
	border-radius: 50%;
	// border:1px solid black;
	margin:15px;
	float: left; 

}
hr{
	clear: both;
}
// Primary
.pr-1{
	background-color:$p-1;
}
.pr-2{
	background-color:$p-2;
}
.pr-3{
	background-color:$p-3;
}
.pr-4{
	background-color:$p-4;
}

// Lighten-1
.l1-1{
	background-color: $l1-1;
}
.l1-2{
	background-color: $l1-2;
}
.l1-3{
	background-color: $l1-3;
}
.l1-4{
	background-color: $l1-4;
}

// Lighten-2
.l2-1{
	background-color: $l2-1;
}
.l2-2{
	background-color: $l2-2;
}
.l2-3{
	background-color: $l2-3;
}
.l2-4{
	background-color: $l2-4;
}

// Lighten-3
.l3-1{
	background-color: $l3-1;
}
.l3-2{
	background-color: $l3-2;
}
.l3-3{
	background-color: $l3-3;
}
.l3-4{
	background-color: $l3-4;
}

// Darken-1
.d1-1{
	background-color: $d1-1;
}
.d1-2{
	background-color: $d1-2;
}
.d1-3{
	background-color: $d1-3;
}
.d1-4{
	background-color: $d1-4;
}
// Darken-2
.d2-1{
	background-color: $d2-1;
}
.d2-2{
	background-color: $d2-2;
}
.d2-3{
	background-color: $d2-3;
}
.d2-4{
	background-color: $d2-4;
}
// Darken-3
.d3-1{
	background-color: $d3-1;
}
.d3-2{
	background-color: $d3-2;
}
.d3-3{
	background-color: $d3-3;
}
.d3-4{
	background-color: $d3-4;
}
.header{
	margin-left: 30px;
	margin-top: 30px;
	margin-bottom: 20px;
}

.palette_colors{
	margin:30px;
	margin-left: 50px;
	float: left;

}
// 02 Typography
#h1,#h2,#h3,#h4,#h5,#h6{margin: 30px auto;}

.header_2{
	 float: left;
	 margin-right: 50px; 
	 vertical-align: middle;
	 font-size: 15px;
	 margin-left: 30px;
}


#h1{
	font-size: 35px;
	font-family: $font-bold;
	color: $d3-4;
}
#h2{
	font-size: 33px;
	font-family: $font-medium;
	color: $d2-4;
	width: 415px;
	margin-left: 130px;
}
#h2:hover{
	background-color: $p-1;
	color:$light;

    margin-left: 135px;
    padding: 4px;
}
#h3{
	font-size: 27px;
	font-family: $font-semibold_medium;
	color: $d3-4;
}
#h4{
	font-size: 22px;
	font-family: $font-medium;
	color: $d3-4;
}
#h5{
	font-size: 17px;
	font-family: $font-medium;
	color: $d3-4;
}
#h6{
	font-size: 15px;
	font-family: $font-medium;
	color: $d3-4;
}
p{
	font-size: 14px;
	font-family: $font-regular;
	color: $d1-4;
	margin-left: 132px;
    margin-top: -15px;
    margin-bottom: 35px;
    line-height: 1.5;
    text-align: justify;
    padding-right: 30px;
}
.subtitle{
	font-size: 20px;
	font-family: $font-medium;
	color: $d1-4;
}
.subtitle:hover{
	background-color: $p-1;
	color:$light;
}
.list {
	font-size: 15px;
	font-family: $font-medium;
	color: $d1-4;
	width: 300px;
	margin-top: -20px;
	margin-left: 130px;
	float: none;
}
.list li{
	margin:5px auto;
	font-size: 15px;
	font-family: $font-medium;
	color:$d1-4;
}

.list_style{
	display: inline-block;
	width: 13px;
	height: 13px;
	border-radius:50%;
	background-color: $p-1;
	margin-right: 5px;
}
.list_style_2{
	display:block;
	border:2px solid white;
	width: 8px;
	height: 5px;
	margin:20px;
	margin-left: 3px;
	margin-top:4px;
	border-right: none;
	border-top:none;
	transform: rotate(-35deg);
}
.quotation{
	font-size: 17px;
	font-family: $font-regular;
	color: $d1-1;
	display: block;
	text-align: justify;
	margin-top: -20px;
	padding-right: 20px;
	margin-left: 120px;
	background-color: $l3-1;
	border-left:1px solid;
	padding-left: 20px;
	line-height: 1.5;
}
// 03 Buttons
.buttons{
	width: 90%;
	margin-left: 90px;

}
.buttons div{
	width: 100%;
	height: 50px;
	margin:20px 20px;
}

button{
	width: 15%;
	height: 100%;
	margin:20px 20px;
	border-radius: 5px;
	border: none;
	color: $light;
}

.btn_normal button:nth-child(2){
	background-color: $p-2;
}

.btn_normal button:nth-child(3),.btn_normal button:nth-child(4){
	background-color: $d1-1;
}

.btn_normal button:nth-child(5){
	background-color: $light;
	color:$p-2; 
	border:1px solid $p-2;
}

.btn_normal button:nth-child(6){
	background-color: $light;
	color:$d1-1; 
	border:1px solid $d1-1;
}

.btn_hover button:nth-child(2),.btn_hover button:nth-child(5){
	background-color: $l1-2;
}

.btn_hover button:nth-child(3),.btn_hover button:nth-child(4),.btn_hover button:nth-child(6){
	background-color: $l2-1;
}

.btn_disabled button{
	background-color: $l2-4;
}
.small {width: 10%;}